/************* your name: 

INSTRUCTIONS:
Comments starting with TO-DO have been included in this file to describe the needed styling: please translate these to the appropriate CSS declarations. 

Comments starting with TO-DO may be left in for reference or removed entirely: all other comments should be left as-is for ease of review.

You are discouraged from changing any provided CSS.

***** colour palette: *****
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5

*/


/************* site defaults *************/
body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


 

/************* site-wide text styling *************/

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

.large-text {
    font-size: 24px;
}

.fake-button {
    background-color: #E5AF42;
    text-align: center;
    line-height: 3;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

main a:hover,
footer a:hover {
    text-decoration: underline;
}

.fake-button:hover,
.blue-hover:hover {
    text-decoration: underline;
    background-color: #4278e5;
    color: white;
    cursor: pointer;
}








/************* header/footer styling *************/

header {
    background-color: #E5AF42;
    height: 150px;
    margin-bottom: 25px;
}

header a {
    width: 100%;
}

header img {
    width: 100px;
    height: 100px;
    margin: 25px 25px 25px 25px;
}

header h1 {
    flex: 1;
    text-align: center;
}

main {
    margin-bottom: 50px;
}

footer {
    background-color: #E5AF42;
    height: 60px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}






/************* index page *************/

.index > div:first-child {
    flex-direction: row;
    gap: 25px;
}

.index > div:first-child .about-us {
    flex: 1;
}

.index > div:first-child img {
    width: 300px;
    height: auto;
    margin-bottom: 50px;
}

.about-us h2 {
    line-height: 1em;
}

.about-us p {
    margin-bottom: 12px;
}

.index > div:last-child {
    justify-content: center;
    gap: 150px;
}

.index .fake-button {
    width: 250px;
}






/************* bookings page *************/

.booking-page {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.booking-page p {
    font-size: 18px;
}

.day-selector {
    margin-bottom: 12px;
    gap: 20px;
}

.day-selector li {
    width: 60px;
    border: 1px solid black;
    text-align: center;
}

.small-button {
    width: 60px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.top-margin {
    margin-top: 24px;
    margin-bottom: 12px;
}

#clear-button {
    width: 200px;
    margin: 0 auto;
}

.clicked {
    background-color: #4278e5;
    color: white;
}













/************* contact page *************/

.contact {
    margin: 0 auto;
}

.contact h2 {
    text-align: center;
    margin-bottom: 24px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form > div {
    display: flex;
    width: 450px;
    margin-bottom: 24px;
    align-items: flex-start;
}

.contact label {
    width: 150px;
    text-align: right;
    margin-right: 24px;
    padding-top: 8px;
    font-size: 16px;
}

.contact input,
.contact textarea {
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 16px;
    border: 1px solid black;
    padding: 4px;
    box-sizing: border-box;
}

.contact textarea {
    height: 150px;
    resize: none;
}

.contact button {
    width: 300px;
    margin-top: 12px;
}




